#content {
	margin-top: 15px;
}
.none {
	display: none !important; 
}
.edit-or-del .fa {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}
#all-article {
	font-size: 11px;
}
a {
	cursor: pointer !important;
}
a.logout:hover {
    text-decoration: underline !important;
    background: white !important;
}
a.back {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	cursor: pointer;
}
.nav-container {
	width: 220px;
}
.nav-fixed {
	position: fixed;
	float: none;
	top: 51px;
}
footer {
	margin-bottom: 20px;
}
#publish {
	padding: 10px; 
	position: absolute;
	width: 95%;
}
#publish.active {
	left: -95%;
}
#preview-page {
	padding: 10px;
	position: absolute;
	width: 95%;
	height: 100%;
	left: 100%;
}
#preview-page.active {
	left: auto;
}
#preview-content {
	background: white; 
}
#preview-content img {
	max-width: 100% !important;
}

.article-color-choice h3 {
	font-size: 20px;
}
.swatch {
    display: inline-block;
    margin: 0;
    background: #ddd;
}
.get-color .swatch {
	width: 6rem;
    height: 3rem;
}
.get-palette .swatch {
	width: 4rem;
    height: 2.7rem;
    cursor: pointer;
}
.fl {
	float: left;
}
a#top {
	margin-top: 10px;
}
td {
	word-break: break-all !important;
}