#content {
	margin-top: 15px;
}
.none {
	display: none !important; 
}
.edit-or-del .fa {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}
#all-article {
	font-size: 11px;
}
a.back {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	cursor: pointer;
}
.nav-container {
	width: 220px;
}
.nav-fixed {
	position: fixed;
	float: none;
	top: 51px;
}
footer {
	margin-bottom: 20px;
}
#publish {
	padding: 10px; 
	position: absolute;
	width: 95%;
}
#publish.active {
	left: -95%;
}
#preview-page {
	padding: 10px;
	position: absolute;
	width: 95%;
	height: 100%;
	left: 100%;
}
#preview-page.active {
	left: auto;
}
#preview-content {
	background: white; 
}
#preview-content img {
	max-width: 100% !important;
}

#RGB {
	height: 20px;
	background: rgb(128, 128, 128);
}
#R .slider-selection {
	background: #FF8282;
}
#R .slider-handle {
	background: red;
}
#G .slider-selection {
	background: #428041;
}
#G .slider-handle {
	background: green;
}
#B .slider-selection {
	background: #8283FF;
}
#B .slider-handle {
	border-bottom-color: blue;
}