#content {
	margin-top: 15px;
}
.none {
	display: none !important; 
}
.edit-or-del .fa {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}
#all-article {
	font-size: 11px;
}
a#back {
	display: inline-block;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}
.nav-container {
	width: 220px;
}
.nav-fixed {
	position: fixed;
	float: none;
	top: 51px;
}
footer {
	margin-bottom: 20px;
}