<div class="col-sm-4">
    <div class="col-sm-2">R</div>
    <div class="col-sm-9">
        <slider id="R" ng-model="sliders.redValue" min="colorOptions.min" max="colorOptions.max">
        </slider>        
    </div>
</div>
<div class="col-sm-4">
    <div class="col-sm-2">G</div>
    <div class="col-sm-9">
        <slider id="G" ng-model="sliders.greenValue" min="colorOptions.min" max="colorOptions.max">
        </slider>        
    </div>
</div>
<div class="col-sm-4">
    <div class="col-sm-2">B</div>
    <div class="col-sm-9">
        <slider id="B" ng-model="sliders.blueValue" min="colorOptions.min" max="colorOptions.max">
        </slider>
    </div>
</div>