<ul class="nav navbar-nav">
    <li><a class="fa fa-edit" ui-sref="editTopic({id: topic.id})"></a></li>
    <li class="dropdown hidden-xs" style="display: inline-block;">
        <a class="dropdown-toggle dker" data-toggle="dropdown" style="cursor: pointer; padding: 0;">
            <i class="fa fa-fw fa-times"></i>
        </a>
        <section class="dropdown-menu animated fadeInUp" style="right: 0; left: auto; width: 200px;">
            <section class="panel bg-white">
                <form role="search">
                    <div class="form-group m-b-none">
                        <section class="panel panel-default" style="margin-bottom: 0;">
                            <header class="panel-heading">确定删除?</header>
                            <div class="panel-body">
                                <a class="btn btn-default" ng-click="otherPlaceClick()">取消</a>
                                <a class="btn btn-danger" ng-click="delTopic(topic.id, $index)">删除</a>
                            </div>
                        </section>
                    </div>
                </form>
            </section>
        </section>
    </li>
</ul>