<div id="all-article" style="padding: 10px; margin-bottom: 10px;">
    <table class="can-more table table-bordered table-striped" style="background: white">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-3">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>标题</th>
                <th>时间</th>
                <th>作者</th>
                <th>专题</th>
                <th>简介</th>
                <th>媒体</th>
                <th>编辑</th>
                <th class="none"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles track by $index">
                <td><a ui-sref="viewArticle({id: article.id})">{{ article.article_title }}</a></td>
                <td>{{ article.create_time }}</td>
                <td>{{ article.article_author }}</td>
                <td>{{ article.article_topic_name }}</td>
                <td>{{ article.article_intro }}</td>
                <td>{{ article.article_media_name }}</td>
                <td class="edit-or-del">
                    <ul class="nav navbar-nav">
                        <li><a class="fa fa-edit" ui-sref="editArticle({id: article.id})"></a></li>
                        <li class="dropdown hidden-xs" style="display: inline-block;">
                            <a class="dropdown-toggle dker" data-toggle="dropdown" style="cursor: pointer; padding: 0;">
                                <i class="fa fa-fw fa-times"></i>
                            </a>
                            <section class="dropdown-menu animated fadeInUp" style="right: 0; left: auto; width: 200px;">
                                <section class="panel bg-white">
                                    <form role="search">
                                        <div class="form-group m-b-none">
                                            <section class="panel panel-default" style="margin-bottom: 0;">
                                                <header class="panel-heading">确定删除?</header>
                                                <div class="panel-body">
                                                    <a class="btn btn-default" ng-click="otherPlaceClick()">取消</a>
                                                    <a class="btn btn-danger" ng-click="delArticle(article.id, $index)">删除</a>
                                                </div>
                                            </section>
                                        </div>
                                    </form>
                                </section>
                            </section>
                        </li>
                    </ul>
                </td>
                <td name="article_id" class="none"></td>
            </tr>
        </tbody>
    </table>
</div>