<a id="top" style="height: 2px; width: 10px;"></a>
<div>
    <success-fail-msg />
</div>
<div id="edit" data-ng-init="load()">
    <a ui-sref="allArticles" class="back">&lt;&lt;返回所有文章</a>
    <form class="form-horizontal" name="myForm">
        <section class="panel panel-default">
            <header class="panel-heading">编辑文章</header>
            <div class="panel-body">
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label>文章标题<i ng-show="myForm.article_title.$error.required">*required</i></label>
                        <input required name="article_title" ng-model="article.article_title" type="text" class="form-control parsley-validated">
                    </div>
                    <div class="col-sm-6">
                        <label>文章简介<i ng-show="myForm.article_intro.$error.required">*required</i></label>
                        <input required name="article_intro" ng-model="article.article_intro" type="text" class="form-control parsley-validated">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label>文章发布者<i ng-show="myForm.article_publisher.$error.required">*required</i></label>
                        <input required name="article_publisher" ng-model="article.article_publisher" type="text" class="form-control parsley-validated">
                    </div>
                    <div class="col-sm-6">
                        <label>文章作者<i ng-show="myForm.article_author.$error.required">*required</i></label>
                        <input required name="article_author" ng-model="article.article_author" type="text" class="form-control parsley-validated">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label>是否推荐上首页</label>
                        <select name="is_recommend" ng-model="article.is_recommend" ng-init="is_recommend='0'" class="form-control m-b">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>是否推荐上首页滚动栏</label>
                        <select name="is_banner" ng-model="article.is_banner" ng-init="is_banner='0'" class="form-control m-b">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label>文章媒体<i ng-show="myForm.article_media.$error.required">*required</i></label>
                        <select required name="article_media" ng-model="article.article_media" class="form-control m-b">
                            <option ng-repeat="media in medias" value="{{media.id}}">{{media.media_name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>文章专题<i ng-show="myForm.article_topic.$error.required">*required</i></label>
                        <select required name="article_topic" ng-model="article.article_topic" class="form-control m-b">
                            <option>-- 请选择 --</option>
                            <option ng-repeat="topic in topics" value="{{topic.id}}">{{topic.topic_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div>
                    <color-selector/>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
                    <textarea id="rich-editor" class="form-control parsley-validated" rows="8"></textarea>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button class="btn btn-success btn-s-xs"
                        ng-disabled="!myForm.$valid" ng-click="updateArticle()">Submit</button>
            </footer>
        </section>
    </form>
    <form name="imgForm">
        <section class="panel panel-default">
            <header class="panel-heading">更改文章大图</header>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <div ng-show="article.article_img">
                            <p>当前大图</p>
                            <img height="200px" ng-src="{{article.article_img}}">
                        </div>
                        <label>文章大图<i ng-show="imgForm.article_img.$error.required">*required</i></label>
                        <input type="file" required ngf-select ng-model="picFile" name="article_img" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFiles">
                        <i ng-show="imgForm.article_img.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
                        <img ng-show="imgForm.article_img.$valid" ngf-thumbnail="picFile" class="thumb">
                        <div>
                            <button ng-click="picFile = null" ng-show="picFile" class="btn btn-default" style="padding: 2px 4px; font-size=12px; margin-top: 8px;">Remove</button>
                        </div>
                        <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                        </span>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button class="btn btn-success btn-s-xs" 
                        ng-disabled="!imgForm.$valid" ng-click="updateImg()">Submit</button>
            </footer>
        </section>
    </form>
</div>
