<div style="padding: 10px;">
    <a ui-href="medias" class="back">&lt;&lt;返回所有媒体</a>
    <form class="form-horizontal" name="myForm">
        <section class="panel panel-default">
            <header class="panel-heading">编辑媒体</header>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <div ng-show="media.media_avatar">
                            <p>当前头像</p>
                            <img height="200px" ng-src="{{media.media_avatar}}">
                        </div>
                        <label>媒体头像<i ng-show="imgForm.file.$error.required">*required</i></label>
                        <input type="file" required ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFiles">
                        <i ng-show="imgForm.file.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
                        <img ng-show="imgForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                        <div>
                            <button ng-click="picFile = null" ng-show="picFile" class="btn btn-default" style="padding: 2px 4px; font-size=12px; margin-top: 8px;">Remove</button>
                        </div>
                        <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                        </span>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </div>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button class="btn btn-success btn-s-xs" 
                        ng-disabled="!myForm.$valid" ng-click="update()">Submit</button>
            </footer>
        </section>
    </form>
</div>
