<div id="all-media" style="padding: 10px;">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>媒体名称</th>
            <th>媒体头像(建议裁剪成正方形)</th>
            <th>媒体detail背景</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="media in medias">
            <td>{{media.media_name}}</td>
            <td>
                <img height="100px" ng-src="{{media.media_avatar}}">
            </td>
            <td>
                <img height="100px;" ng-src="{{media.media_detail_back}}">
            </td>
            <td class="edit-or-del">
                <a class="fa fa-edit"></a>
                <span class="fa fa-times"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/medias/addMedia" class="btn btn-success">新增媒体</a>
</div>