<div id="all-media" style="padding: 10px;">
    <table class="table table-bordered table-striped" style="width: 80%">
        <thead>
        <tr>
            <th>媒体名称</th>
            <th>媒体头像(建议裁剪成正方形)</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="media in medias track by $index">
            <td>{{media.media_name}}</td>
            <td>
                <img style="max-width: 200px; max-height: 100px;"  ng-src="{{media.media_avatar}}">
            </td>
            <td class="edit-or-del">
                <edit-or-del-common 
                    del-func="delMedia(media.id, $index)" 
                    other-place-click="otherPlaceClick()"
                    go-edit="editMedia(media.id, $index)"                        
                />
                <!-- <edit-or-del type="Media" /> -->
            </td>
        </tr>
        </tbody>
    </table>
    <a ui-sref="addMedia" class="btn btn-success">新增媒体</a>
</div>