<a id="top" style="height: 2px; width: 10px;"></a>
<div>
    <success-fail-msg />
</div>
<div id="publish" data-ng-init="load()" ng-class="{true: 'active'}[preview]">
    <form class="form-horizontal" name="myForm">
        <section class="panel panel-default">
            <header class="panel-heading">发布文章</header>
            <div class="panel-body">
                <div ng-include="'views/partial/article_form.html'"></div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>文章大图<i ng-show="myForm.file.$error.required">*required</i></label>
                        <input id="article-img-file" type="file" required ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFiles">
                        <i ng-show="myForm.file.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                        <img style="display: none;" id="preview">
                        <div>
                            <button ng-click="picFile = null" ng-show="picFile" class="btn btn-default" style="padding: 2px 4px; font-size=12px; margin-top: 8px;">Remove</button>
                        </div>
                        <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                        </span>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="article-color-section" ng-controller="ColorCtrl">
                    <div class="article-color-choice">
                        <div class="get-color">
                            <label>文章颜色</label>
                            <div class="swatches">
                                <div class="swatch" style="background-color: {{colorObj.color}}"></div>
                            </div>
                        </div>
                        <div class="get-palette">
                            <label>备选颜色</label>
                            <div class="swatches">
                                <div ng-repeat="choice in colorObj.colorChoices track by $index" 
                                     ng-click="changeColor($index)"
                                     class="swatch"
                                     style="background-color: {{choice}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
                    <textarea id="rich-editor" class="form-control parsley-validated" rows="8"></textarea>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button type="button" class="btn btn-success btn-s-xs" ng-click="toPreview()">预览</button>
                <button class="btn btn-success btn-s-xs" 
                        ng-disabled="!myForm.$valid" ng-click="publish()">Submit</button>
            </footer>
        </section>
    </form>
</div>
<div id="preview-page" ng-class="{true: 'active'}[preview]">
    <a ng-click="quitPreview()" class="back">返回发布文章</a>
    <section class="panel panel-default">
        <header class="panel-heading">文章预览</header>
        <div class="panel-body">
            <div id="preview-content">
                <p style="background: white;" ng-bind-html="article_content"></p>
            </div>
        </div>
    </section>    
</div>
