<div class="row"  style="padding: 10px;" data-ng-init="load()">
    <div class="col-md-8">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">醉晚访问量统计</header>
            <div class="panel-body">
                <div id="flot-1ine" style="height:210px"></div>
            </div>
            <footer class="panel-footer bg-white no-padder">
                <div class="row text-center no-gutter">
                    <div class="col-xs-3 b-r b-light"> <span class="h4 font-bold m-t block">5,860</span> <small class="text-muted m-b block">Orders</small> </div>
                    <div class="col-xs-3 b-r b-light"> <span class="h4 font-bold m-t block">10,450</span> <small class="text-muted m-b block">Sellings</small> </div>
                    <div class="col-xs-3 b-r b-light"> <span class="h4 font-bold m-t block">21,230</span> <small class="text-muted m-b block">Items</small> </div>
                    <div class="col-xs-3"> <span class="h4 font-bold m-t block">7,230</span> <small class="text-muted m-b block">Customers</small> </div>
                </div>
            </footer>
        </section>
    </div>
</div>
