<div class="row"  style="padding: 10px;" data-ng-init="load()">
    <div class="col-md-10">
        <section class="panel panel-default">
          <div class="row m-l-none m-r-none bg-light lter">
            <div class="col-sm-6 padder-v b-r b-light">
                <span class="fa-stack fa-2x pull-left m-r-sm">
                    <i class="fa fa-circle fa-stack-2x text-info"></i><i class="fa fa-male fa-stack-1x text-white"></i> 
                </span>
                <a class="clear">
                    <span class="h3 block m-t-xs"><strong>{{user_count}}</strong></span>
                    <small class="text-muted text-uc">总注册用户数</small>
                </a> 
            </div>
            <div class="col-sm-6 padder-v b-r b-light">
                <span class="fa-stack fa-2x pull-left m-r-sm">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-fire-extinguisher fa-stack-1x text-white"></i>
                    <span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span>
                </span>
                <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong id="firers">{{article_count}}</strong></span> <small class="text-muted text-uc">总文章数</small></a>
            </div>
          </div>
        </section>
        <section class="panel panel-default">
            <header class="panel-heading font-bold">热门文章前十(点击可以查看文章)</header>
            <div class="panel-body">
                <div id="chartContainer"></div>
            </div>
            <!-- <footer class="panel-footer bg-white no-padder">
                <div class="row text-center no-gutter">
                    <div class="col-xs-3 b-r b-light"><span class="h4 font-bold m-t block">2048</span> <small class="text-muted m-b block">本周访问量</small> </div>
                    <div class="col-xs-3 b-r b-light"> <span class="h4 font-bold m-t block">10,450</span> <small class="text-muted m-b block">本月访问量</small> </div>
                    <div class="col-xs-3 b-r b-light"> <span class="h4 font-bold m-t block">21,230</span> <small class="text-muted m-b block">总访问量</small> </div>
                    <div class="col-xs-3"> <span class="h4 font-bold m-t block">7,230</span> <small class="text-muted m-b block">hehe</small> </div>
                </div>
            </footer> -->
        </section>
    </div>
</div>
